{% extends "base.html" %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">
</head>
{% block content %}
    <div class="index-header">
        <h4>
            about me
        </h4>
    </div>
    <div class="img-div">
        <img src="{% static "graduation.jpg" %}" alt="family" class="cover-photo">
    </div>
    <div class="index-content">
        <p>
            {% include 'about/about.md' %}
        </p>
    </div>
{% endblock content %}
