.img-div {
    max-width: 300px;
    margin: 0 auto; 
    text-align: center; 
    padding-top: 20px;
}
    
.cover-photo {
    width: 100%; 
    display: block; 
    max-width: 100%;
    height: auto; 
}


h4 {
font-family: helvetica;
font-weight: bold;
color: #DCDCDC;
}

p {
    font-family: helvetica;
    color: #DCDCDC;
}

.about-div {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 45px;
}

.index-header {
    text-align: center;
}

.index-content {
    padding-top: 20px;
    text-align: center;
}