h4 {
    font-family: helvetica;
    color: #DCDCDC;
    font-weight: bold;
}

p {
    font-family: helvetica;
    color: #DCDCDC;
}

.career-div {
    padding-top: 45px;
    padding-left: 30%;
    padding-right: 30%;
}

.index-header {
    text-align: left;
}

.index-content {
    padding-top: 20px;
    text-align: left;
}