footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
}

nav {
    font-family: helvetica;
}

.footer-content {
    padding: 20px;
    text-align: center;
    font-family: helvetica;
    color: #5d5d5d;
}