h4 {
    font-family: helvetica;
    color: #DCDCDC;
    font-weight: bold;
}

p {
    font-family: helvetica;
    color: #DCDCDC;
}

.projects-div {
    padding-top: 45px;
    padding-left: 15%;
    padding-right: 15%;
}

.projects-list {
    color: white;
    font-family: helvetica;
}

.index-header {
    text-align: left;
}

.index-content {
    padding-top: 20px;
    text-align: left;
}