{% load static %}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar_style.css' %}">
</head>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <class="d-inline-block align-text-top">home</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'career' %}">career</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">projects</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">about</a>
      </li>
    </ul>          
  </div>
</nav>