<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <class="d-inline-block align-text-top">home</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">career</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">blog</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">about</a>
      </li>
    </ul>          
  </div>
</nav>

<style>{% include 'partials/styles/navbar_style.css' %}</style>
