<style>

    .navbar {
        padding: 0;
    }

    body {
        background-color: #2A2A2A; /* Replace with your desired color */
    }

    .container-fluid {
        background: #1A1A1A;
        padding-top: 0.1%;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
        height: 60px;
    }

    .navbar-brand {
    color: #DCDCDC;
    font-family: trebuchet ms;
    font-weight: bold;
    padding-left: 10px;
    }

    .navbar-brand:hover {
    transition: color 0.2s ease-in-out;
    color: white;
    }

    .navbar-brand:not(:hover)
    {
    transition: color 0.2s ease-in-out;
    color: #DCDCDC;
    }

    .nav-link {
    color: #DCDCDC;
    font-family: trebuchet ms;
    font-weight: bold;
    padding-top: 12px;
    }

    .nav-link:hover {
    color: white;
    }

    .container-sm {
    margin-top: 50px;
    padding-top: 25px;
    width: 70%;
    background-color: #990000;
    border-radius: 20px;
    }

    .container-md {
    margin-top: 50px;
    padding-top: 25px;
    width: 85%;
    background-color: #990000;
    border-radius: 20px;
    }

    .form-label {
    font-family: Consolas, sans-serif;
    }

    .signup-header {
    color: #DCDCDC;
    font-family: Consolas, sans-serif;
    text-align: center;
    }

    .signup-select-box {
    position: relative;
    background-color: red;
    }

    .form-label {
    color: #e6b800;
    }

    .btn {
    margin-bottom: 25px;
    }

    .login-container {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    }

    .profile-name {
    font-family: Consolas, sans-serif;
    text-align: left;
    color: #e6b800;
    }

    .profile-info {
    font-family: Consolas, sans-serif;
    text-align: left;
    color: #e6b800;
    }

    .signup-container {
    padding-left: 20%;
    padding-right: 20%;
    }

    .table-hover {
    border: 3px solid gold;
    table-hover-bg: red;
    font-family: Rockwell, sans-serif;
    text-align: center;
    }


    .table-header, .table-entry {
    color: red;
    }
    
    .table-div {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
    }

    h1 {
    font-family: Consolas, sans-serif;
    color: #DCDCDC;
    }
</style>